## UCI Adult Income Dataset - Data cleaning and preprocessing
This notebook is focused on the data preparation, cleaning and preprocessing for the UCI Adult Income Dataset

In [1]:
# import libraries
import pandas as pd 
import numpy as np
import os

In [2]:
# Get working directory
current_dir= os.getcwd()
# Go one directory up to the root directory 
project_root_dir= os.path.dirname(current_dir)
data_dir = os.path.join(project_root_dir,'data')
raw_dir = os.path.join(data_dir,'raw')
processed_dir = os.path.join(data_dir,'processed')
# define path to result folder
result_dir=os.path.join(project_root_dir,'result')
# define path to docs folder
docs_dir=os.path.join(project_root_dir,'docs')

# create directory if they do not exist 
os.makedirs(raw_dir, exist_ok = True)
os.makedirs(processed_dir, exist_ok = True)
os.makedirs(result_dir, exist_ok = True)
os.makedirs(docs_dir, exist_ok = True)

## Read in the data

In [45]:
adult_data_filename = os.path.join(raw_dir,"adult.csv")
adult_df = pd.read_csv(adult_data_filename,header=None,na_values = '?', skipinitialspace = True)
adult_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [4]:
adult_df.shape

(32561, 15)

In [5]:
adult_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       30725 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       30718 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      31978 non-null  object
 14  14      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## Data Cleaning
## 1Assign proper column names to the columns

In [46]:
adult_df.columns=["Age", "Workclass", "fnlwgt", "Education", " Education_num", "Martial_status", "Occupation", "Relationship", "Race", "sex", "Capital_gain", "Capital_loss", "hours_per_week", "Native_country", "Income"]
adult_df

,Age,Workclass,fnlwgt,Education,Education_num,Martial_status,Occupation,Relationship,Race,sex,Capital_gain,Capital_loss,hours_per_week,Native_country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Understanding the dataset
- age:Represents the age of the person, ranging from 1 to 90
- workclass: Represents the employment status of the person. Takes on the value: Federal_gov, lacal

In [47]:
np.unique(adult_df.Workclass.to_list())

array(['Federal-gov', 'Local-gov', 'Never-worked', 'Private',
       'Self-emp-inc', 'Self-emp-not-inc', 'State-gov', 'Without-pay',
       'nan'], dtype='<U32')

In [48]:
np.unique(adult_df.fnlwgt.to_list())

array([  12285,   13769,   14878, ..., 1366120, 1455435, 1484705])

In [49]:
np.unique(adult_df.Education.to_list())

array(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Preschool', 'Prof-school', 'Some-college'],
      dtype='<U12')

## 2.Deal with missing values

In [50]:
adult_df.isnull().sum()

Age                  0
Workclass         1836
fnlwgt               0
Education            0
 Education_num       0
Martial_status       0
Occupation        1843
Relationship         0
Race                 0
sex                  0
Capital_gain         0
Capital_loss         0
hours_per_week       0
Native_country     583
Income               0
dtype: int64

In [51]:
adult_df['Workclass']=adult_df['Workclass'].fillna('Unknown')
adult_df['Native_country']=adult_df['Native_country'].fillna('Other')
adult_df['Occupation']=adult_df['Occupation'].fillna('Unknown')

In [52]:
adult_df.isnull().sum()

Age               0
Workclass         0
fnlwgt            0
Education         0
 Education_num    0
Martial_status    0
Occupation        0
Relationship      0
Race              0
sex               0
Capital_gain      0
Capital_loss      0
hours_per_week    0
Native_country    0
Income            0
dtype: int64

## 3.Deal with Duplicate

In [53]:
adult_df.duplicated().sum()

24

In [54]:
adult_df[adult_df.duplicated(keep=False)]

,Age,Workclass,fnlwgt,Education,Education_num,Martial_status,Occupation,Relationship,Race,sex,Capital_gain,Capital_loss,hours_per_week,Native_country,Income
2303,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
3917,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
4325,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
4767,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
4881,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
4940,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
5579,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
5805,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
5842,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
6990,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
7053,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
7920,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
8080,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
8679,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
9171,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
10367,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
11631,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
11965,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
13084,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
15189,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
16297,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
16846,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
16975,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,Other,<=50K
17040,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
17673,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
17916,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
18555,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,Other,<=50K
18698,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
21103,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
21318,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
21490,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
21875,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
22300,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
22367,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
22494,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25624,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25872,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
26313,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
28230,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
28522,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
28846,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29157,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
30845,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
31993,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
32404,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [55]:
adult_df=adult_df.drop_duplicates()

In [56]:
adult_df.duplicated().sum()

0

In [57]:
adult_df.shape

(32537, 15)

## 4.Standardize Categorical variables

In [58]:
adult_df.dtypes == object

Age               False
Workclass          True
fnlwgt            False
Education          True
 Education_num    False
Martial_status     True
Occupation         True
Relationship       True
Race               True
sex                True
Capital_gain      False
Capital_loss      False
hours_per_week    False
Native_country     True
Income             True
dtype: bool

In [59]:
categorical_cols = adult_df.columns[adult_df.dtypes == object]
for col in categorical_cols:
    adult_df.loc[:, col] = adult_df[col].str.strip().str.lower() 
adult_df

,Age,Workclass,fnlwgt,Education,Education_num,Martial_status,Occupation,Relationship,Race,sex,Capital_gain,Capital_loss,hours_per_week,Native_country,Income
0,39,state-gov,77516,bachelors,13,never-married,adm-clerical,not-in-family,white,male,2174,0,40,united-states,<=50k
1,50,self-emp-not-inc,83311,bachelors,13,married-civ-spouse,exec-managerial,husband,white,male,0,0,13,united-states,<=50k
2,38,private,215646,hs-grad,9,divorced,handlers-cleaners,not-in-family,white,male,0,0,40,united-states,<=50k
3,53,private,234721,11th,7,married-civ-spouse,handlers-cleaners,husband,black,male,0,0,40,united-states,<=50k
4,28,private,338409,bachelors,13,married-civ-spouse,prof-specialty,wife,black,female,0,0,40,cuba,<=50k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,private,257302,assoc-acdm,12,married-civ-spouse,tech-support,wife,white,female,0,0,38,united-states,<=50k
32557,40,private,154374,hs-grad,9,married-civ-spouse,machine-op-inspct,husband,white,male,0,0,40,united-states,>50k
32558,58,private,151910,hs-grad,9,widowed,adm-clerical,unmarried,white,female,0,0,40,united-states,<=50k
32559,22,private,201490,hs-grad,9,never-married,adm-clerical,own-child,white,male,0,0,20,united-states,<=50k
32560,52,self-emp-inc,287927,hs-grad,9,married-civ-spouse,exec-managerial,wife,white,female,15024,0,40,united-states,>50k

In [60]:
adult_df.columns

Index(['Age', 'Workclass', 'fnlwgt', 'Education', ' Education_num',
       'Martial_status', 'Occupation', 'Relationship', 'Race', 'sex',
       'Capital_gain', 'Capital_loss', 'hours_per_week', 'Native_country',
       'Income'],
      dtype='object')

## Re-code the workclass column

In [61]:
adult_df['Workclass'].unique()

array(['state-gov', 'self-emp-not-inc', 'private', 'federal-gov',
       'local-gov', 'unknown', 'self-emp-inc', 'without-pay',
       'never-worked'], dtype=object)

In [62]:
adult_df.loc[:,'Workclass'] = adult_df['Workclass'].replace({
    'state-gov': 'government' ,
    'loc-gov': 'government' ,
    'federal-gov': 'government' ,
    'self-emp-not-inc': 'self-employed' ,
    'self-emp-inc': 'self-employed' ,
    'never-worked': 'unemployed' ,
    'without-pay': 'voluntary' ,
})

In [63]:
adult_df['Workclass'].unique()

array(['government', 'self-employed', 'private', 'local-gov', 'unknown',
       'voluntary', 'unemployed'], dtype=object)

## Re_code the education column

In [64]:
adult_df['Education'].unique()

array(['bachelors', 'hs-grad', '11th', 'masters', '9th', 'some-college',
       'assoc-acdm', 'assoc-voc', '7th-8th', 'doctorate', 'prof-school',
       '5th-6th', '10th', '1st-4th', 'preschool', '12th'], dtype=object)

In [74]:
adult_df.loc[:,'Education_level'] = adult_df['Education'].map({
    'bacherlors': 'tertiary' ,
    'masters': 'tertiary' ,
    'doctorate': 'tertiary' ,
    'prof-school': 'tertiary' ,
    'some-college': 'some college' ,
    'assoc-acdm': 'associate' ,
    'assoc-voc': 'associate' ,
    'hs-grad': 'secondary-school graduate' ,
     '12th': 'secondary' ,
    '11th':'secondary' ,
    '10th': 'secondary' ,
    '9th': 'secondary' ,
    '7th-8th': 'primary' ,
    '5th-6th': 'primary' ,
    '1st-4th': 'primary' ,
    'preschool': 'preschool'
})

In [75]:
adult_df.columns

Index(['Age', 'Workclass', 'fnlwgt', 'Education', ' Education_num',
       'Martial_status', 'Occupation', 'Relationship', 'Race', 'sex',
       'Capital_gain', 'Capital_loss', 'hours_per_week', 'Native_country',
       'Income', 'Education_level'],
      dtype='object')

In [76]:
adult_df['Education_level'].unique()

array([nan, 'secondary-school graduate', 'secondary', 'tertiary',
       'some college', 'associate', 'primary', 'preschool'], dtype=object)

## Re-code the marital_status column

In [70]:
adult_df['Martial_status'].unique()

array(['never-married', 'married-civ-spouse', 'divorced',
       'married-spouse-absent', 'separated', 'married-af-spouse',
       'widowed'], dtype=object)

In [72]:
adult_df.loc[:,'Martial_status'] = adult_df['Martial_status'].replace({
    'never-married': 'single' ,
    'married-civ-spouse': 'married' ,
   'married-spouse-absent': 'divorced or separated' ,
   'divorced': 'divorced or separated' ,
   'separated': 'divorced or separated' ,
   'married-af-spouse': 'married' 

})

In [73]:
adult_df['Martial_status'].unique()

array(['single', 'married', 'divorced or separated', 'widowed'],
      dtype=object)

## Re-code the Occupation

In [77]:
adult_df['Occupation'].unique()

array(['adm-clerical', 'exec-managerial', 'handlers-cleaners',
       'prof-specialty', 'other-service', 'sales', 'craft-repair',
       'transport-moving', 'farming-fishing', 'machine-op-inspct',
       'tech-support', 'unknown', 'protective-serv', 'armed-forces',
       'priv-house-serv'], dtype=object)

In [ ]:
adult_df.loc[:,'Occupation_grouped'] = adult_df['Occupation'].map({
    'adm-clerical': 'White collar' ,
    'exec-managerial': 'tertiary' ,
    'handlers-cleaners': 'tertiary' ,
    'prof-specialty': 'tertiary' ,
    'other-service': 'some college' ,
    'sales': 'associate' ,
    'craft-repair': 'associate' ,
    'transport-moving': 'secondary-school graduate' ,
    'farming-fishing': 'secondary' ,
    'machine-op-inspct':'secondary' ,
    'tech-support': 'secondary' ,
    'protective-serv': 'service' ,
    'armed-forces': 'military' ,
    'priv-house-serv': 'service' ,
    'unknown': 'unknown' 

})